---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Asesor SEO & Diseñador de Experiencia de Usuario",
    company: "Remoto",
    description:
      "Experto en optimizar la presencia online de negocios a través de estrategias SEO y diseño UX efectivo. Me apasiona ayudar a las empresas a alcanzar sus objetivos comerciales mediante una combinación de análisis de datos, creación de contenido de alta calidad y diseño de interfaces intuitivas y atractivas.",
    
  },
  {
    date: "Junio 2022 - Junio 2023 ",
    title: "User Experience Designer",
    company: "Dey",
    description:
      "Optimizo la experiencia del usuario a través de investigación, diseño iterativo y colaboración. Me enfoco en comprender las necesidades de los usuarios, diseñar interfaces intuitivas y realizar pruebas para garantizar un producto final efectivo.",
      link: "https://www.dey.mx/"
      ,
      
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol> 